<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Star Wars People
    </ion-title>
    <ion-buttons slot="end" [routerLink]="'/home'">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Star Wars People
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button href="/home">Take Me Home</ion-button>

  <ion-list>
    <app-person *ngFor="let person of people; let i = index" [person]="person" (click)="presentModal(i + 1)"></app-person>
  </ion-list>
</ion-content>
